<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
  </head>

  <body>


  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">


        <div class="navbar">
          <div class="navbar-inner">
            <div class="">
              <a class="brand" href="{{ HOME_PATH }}"><img src="/assets/img/logo2.png" /></a>
              <ul class="nav">
                {% assign pages_list = site.pages %}
                {% assign group = 'navigation' %}
                {% include JB/pages_list %}
              </ul>
              <div class="clearfix"></div>
              <h4>Recent Blog Posts</h4>
              <ul>
              {% for post in site.posts limit:5 %}
                  <li>{{ post.date | date: "%B %d %Y" }}: <a href="{{ post.url }}">{{post.title }}</a></li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>


      </div>
      <div class="span10">
        <div class="content">
          <div class="span8">
            {{ content }}

          </div>

          <div class="span3" style="margin-top:100px;">

            <h3>Github</h3>
            {% include githubStats %}
            <a href="http://github.com/markwillis82" target="_blank">View more</a>
            <br /><br />

            <h3>Stack Overflow</h3>
            <a target="_blank" href="http://stackexchange.com/users/1077813">
            <img src="http://stackexchange.com/users/flair/1077813.png" width="208" height="58" alt="profile for Mark Willis on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Mark Willis on Stack Exchange, a network of free, community-driven Q&amp;A sites">
            </a>

            <div class="clearfix"></div>
            <br /><br />

            <h3>Twitter</h3>
            <a class="twitter-timeline" height="500" href="https://twitter.com/markwillis82" data-widget-id="341285602957852672">Tweets by @markwillis82</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

          </div>

          <div class="clearfix"></div>


        </div>
      </div>
    </div>
  </div>

      <div class="clear"></div>
      <hr>
      <footer>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}</p>
      </footer>

    </div>

    {% include JB/analytics %}
  </body>
</html>
